*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header and Navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-tital{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
.btn-class{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.contact-button{
    border-radius: 5px;
    border-color: #FD6E0A;
    margin-left: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
}
/* banner styles */
.FAHIM{
    height: 800px;
    width: 1000px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
font-weight: 700;
font-size: 30px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin-bottom: 30px;

}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section Style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.table-class{
     border-collapse: collapse;
     text-align: center;
     padding-right: 2000px;
}
td{
    border: 0px solid lightblue;
    padding: 5px 15px;
    text-align: center;
    padding-right: 100px;
}
/* What i do styles */
.DO{
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
}
.skill-title{
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.image{
    padding-right: 100px;
}
 /* Resume Style */
 .resume-content{
    display: flex;
    gap: 24px;
 }
 .resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
 }
 .resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
 }
 .resume .description{
    color: #757575;
 }
 .resume-title{
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .resume-button{
    margin-top: 50px;
    text-align: center;
 }
 .Section-title{
    margin-bottom: 30px;
    text-align: center;
 }
 /* Contact Style */
 .contact{
    display: flex;
    gap: 100px;
    background-color: antiquewhite;
    padding: 130px 200px;
    margin-top: 100px;
    
 }
 .contact .Section-title{
    text-align: left;
 }
 .contact input,textarea{
    margin-bottom: 24px;
 }